header {
    background-color: #a0ebf6;
      color: #fff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
  
    nav{
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 20px;
      margin-left: 100px;
    }
  
    header img {
      margin-right: 20px;
      height: 70px; /* Adjust as needed */
      margin-top: 10px;
      margin-left: 30px;
      margin-bottom: 10px;
    }
  
    header nav {
      margin-left: auto;
    }
  
    header nav a {
      color: rgb(252, 91, 33);
      text-decoration: none;
      margin-left: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      font-weight: 1200px;
                  line-height: 20px;
                  letter-spacing: 0em;
    }
  
    @media (max-width: 768px) {
      header {
        flex-direction: column;
        text-align: center;
      }
  
      header nav {
        margin-top: 10px;
        justify-content: flex-end;
      }
  
     
    }
  
    body, html {
      margin: 0;
      padding: 0;
     
      justify-content: center;
    }
  
    .centered-title {
      text-align: center;
      margin-top: 60px;
      justify-content: space-between;
    }
  
  
    .centered-title h2 {
      color: red;
      margin-bottom: 30px;
      text-decoration: none;
      margin-left: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
                  font-size: 30px;
                  font-weight: 700;
                  line-height: 30px;
                  letter-spacing: 0em;
      position: relative;
      display: inline-block;
      text-decoration: underline overline dotted rgb(0, 51, 255);
    }
  
  
    
  
    .container1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  